    <md-dialog id="change-password-dialog" style="max-width: 90%; width: 400px;" aria-label="Change Password" ng-cloak>
        <form name="changePasswordForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Change Password</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="close()">
                        <md-icon md-svg-src="theme/images/close.svg" aria-label="Close"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>


            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Current Password</label>
                        <input required name="password" ng-model="user.password" type="password" myg-password />
                        <div class="hint" ng-if="showHints">Enter your current password</div>
                        <div ng-messages="userForm.password.$error" ng-if="!showHints">
                            <div ng-message="required">Current Password is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>New Password</label>
                        <input md-maxlength="30" minlength="5" required name="newPassword" ng-model="user.new_password" type="password" myg-password />
                        <div class="hint" ng-if="showHints">Your secrete password to login!</div>
                        <div ng-messages="userForm.newPassword.$error" ng-if="!showHints">
                            <div ng-message="required">New Password is required.</div>
                            <div ng-message="e3xPassword">The password must contain at least one letter and one digit.</div>                            
                            <div ng-message="md-maxlength">Password has to be less than 30 characters long.</div>
                            <div ng-message="minlength">Password has to be more than 5 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Confirm New Password</label>
                        <input required name="newPasswordConf" ng-model="user.new_password_conf" type="password" compare-to="user.new_password"/>
                        <div class="hint" ng-if="showHints">Confirm password</div>
                        <div ng-messages="userForm.newPasswordConf.$error" ng-if="!showHints">
                            <div ng-message="required">Confirm New Password is required.</div>
                            <div ng-message="compareTo">Must match the new password entry</div>                            
                        </div>
                    </md-input-container>
                </div>
                <center><p style="color: red;">{{error}}</p></center>
            </md-dialog-content>
            
            <md-dialog-actions layout="row" style="margin-right: 15px;">
                <md-button type="submit" ng-disabled="userForm.$invalid" class="md-raised md-primary" ng-click="changePassword($event)">Submit</md-button>
                <md-button type="cancel" class="md-raised md-primary" ng-click="close($event)">Cancel</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>